body {
	font-family: Arial, Helvetica, sans-serif;
	background: white:
	color: black;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

#content {
	font-size: 100%;
}

a:visited {
	color: #8080FF;
	text-decoration: none;
}

a:link {
	color: #8080FF;
	text-decoration: none;
}

a:hover {
	color: #C00000;
	text-decoration: none;
}

a:active {
	color: #C00000;
	text-decoration: none;
}

pre {
	margin-left: 1em;
}
